* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.top{
    padding: 0 150px;
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

p, a{
    color: #e5e7eb;
    font-size: 18px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
    
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.left-text{
    width: 500px;
    flex:1;
}

.right-image {
    flex: 1;
    padding: 50px 0px;
    max-width: 500px; 
    overflow: hidden;
    flex-shrink: 0;
}

.right-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sign-up{
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 15px 40px;
    border-color: #3882f6;
    font-weight: 600;
    font-size: 1rem;
}

h3{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    gap: 60px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.info{
    max-width: 158px;
}

.info-img{
    border: 4px solid #3882f6;
    border-radius: 20%;
    width: 148px;
    height: 148px;
}
.text{
    text-align: center;
    margin-top: 10px;
    color: grey;
    font-weight: 500;
}


.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 200px;
}

.quote-author{
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    color: #1f2937;
    padding: 20px;
}

.sign-up-container{
    display: flex;
}
.form{
    flex: 1;
    background-color: #3882f6;
    margin: 75px 200px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    border-radius: 5px;
    align-items: center;
    gap: 50px;
}

h4{
    font-weight: 800;
    font-size: 20px;
}

#fill-text{
    font-size: 13px;
    margin-top: -20px
}

.footer{
    background-color:#1F2937;
    color: #f9faf8;
    padding: 40px;
    text-align: center;
}

.sign-up-form, .sign-up{
    background-color: #3882f6;
    color: white;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
}

.sign-up{
    border-color: #3882f6;
}

.sign-up-form{
    border-color: white;
}